<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="center">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Consulte um Personagem
      <ion-icon color="warning" name="flash"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content color='dark'  class="ion-padding">
  <img src="../../../assets/Star-Wars-Logo.png" alt="Logo">

  <ion-card  class="ion-padding">
    <ion-label color="light">Personagem:</ion-label>
    <ion-input [(ngModel)]='dados.nome' type="text" placeholder="Insira o Nome"></ion-input>
    <ion-button (click)='buscarPersonagem ()'>Buscar</ion-button>
  </ion-card>

  <ion-card *ngFor='let Personagem of personagens'>
    <ion-label color="light">Nome:</ion-label>
    <ion-input color="light" value={{Personagem.name}} disabled></ion-input>
    <ion-label color="light">Altura:</ion-label>
    <ion-input color="light" value={{Personagem.height}} disabled></ion-input>
    <ion-label color="light">Peso:</ion-label>
    <ion-input color="light" value={{Personagem.mass}} disabled></ion-input>
    <ion-label color="light">Cabelo:</ion-label>
    <ion-input color="light" value={{Personagem.hair_color}} disabled></ion-input>
    <ion-label color="light">Nascimento:</ion-label>
    <ion-input color="light" value={{Personagem.birth_year}} disabled></ion-input>
    <ion-label color="light">Genero:</ion-label>
    <ion-input color="light" value={{Personagem.gender}} disabled></ion-input>
  </ion-card>

</ion-content>